# UI & Framework
chainlit
python-dotenv
chainlit
streamlit

# LLM & Orchestration
langchain
langchain-groq
langchain-community
langchain-huggingface

# Vector Database & Retrieval
langchain-pinecone
pypdf

# Data Processing (Sangat krusial untuk kestabilan Chainlit)
pandas>=2.0.0
pyarrow>=12.0.0

# Optional: Jika kamu masih butuh pencarian web luar
langchain-tavily
pinecone-client
langchain-huggingface
