# UI
streamlit

# LLM & Orchestration
langchain
langchain-groq
langchain-community
langchain-huggingface

# Azure AI Inference (WAJIB untuk rag_azure.py)
azure-ai-inference
azure-core

# Vector Database
langchain-pinecone
pinecone-client

# Data Processing
pandas>=2.0.0
pyarrow>=12.0.0
pypdf

# Utils
python-dotenv
httpx
plotly